@import "../../shared/scss/variables";
@import "04Panel-mixins-Scroll02";
      
    .panel-scroll-01{
          position:relative;
         // height: 100%;
          



          .slide-button-panel{
              
           display:block;
           position:absolute;
           background:transparent;
           cursor:pointer;
           border:0px;
           margin:0px;
     
           width:$sizeButton;
           height:$sizeButton;
           border-radius:50%;
           text-align: center;
           opacity: 0.8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
            color:$c50;
            z-index:12;
             /*
             top:50%;
             transform:translateY(-50%);
             -webkit-transform: translateY(-50%);
             z-index:20;
             */
        @include panel-slide-button-01;
        
        
        &.no-visible{
          visibility:hidden;
        }
        
        &.disabled{
          opacity: 0.2; 
          cursor: not-allowed; 
        }
        &:hover{
          color:$c50;
          opacity: 1;
          @include menu-vertical-slide-button-hover-01;
        } 
    }
      .top{
      
       top:0;
       right:0;
     }
     .bottom{
       
       bottom:0;
       right:0;
     }    
    .panel-scroll-content{
        position:relative;
          height: 100%;
      overflow: hidden;
       overflow-y: scroll;  //se pone fijo para que no tengamos problemas de anchura
       width:calc(100% + 27px);
        
     
       
       
       height:calc(100vh - #{$nav} - #{$footer} - 20px);
       min-height:calc(100vh - #{$nav} - #{$footer} - 20px);
        @media screen and (min-width:321px){
                min-height: 250px;
            }
       @media (min-width:768px){   
         min-height:calc(100vh - #{$headerHeight} - #{$footer} - #{$nav} - 20px);   
         height:calc(100vh - #{$headerHeight} - #{$footer} - #{$nav} - 20px);  
       }   
       &.fix-panel-scroll-content-tab{
        height:calc(100vh - #{$nav} - #{$footer} - 45px);
        min-height:calc(100vh - #{$nav} - #{$footer} - 45px);
         @media screen and (min-width:321px){
                 min-height: 250px;
             }
        @media (min-width:768px){   
          min-height:calc(100vh - #{$headerHeight} - #{$footer} - #{$nav} - 45px);   
          height:calc(100vh - #{$headerHeight} - #{$footer} - #{$nav} - 45px); 
       }
      }
    .panel-scroll-item{
               /*
          nota importante: si no establecemos height y ponemos overflow:hidden, la altura se estable por el total
         del contenido automaticamente, hasta el final, pero establecemos height, la altura se establecera hasta 
         la altura visible o vieport
         En este caso prohibido poner height:100%; aqui en items;
            */
       position: absolute; //poner absolute dentro de table y table-cell trastoca el height
         width:calc(100% - 27px);
      
         
         top:0;
         left:0;
         
       
      

         }
       }
    }
