<div id={{id}} class="wrapper page child" >
    <div class="nav" data-bind-html="content:onLoadContent">
        <nav  >
           <button type="button" id="btn-toggle-back-3" class="nav-mobile push-float-left" data-bind-style="display:cadena" data-bind-on="click:onClick" >
             <span class="fa fa-chevron-left" ></span>
             <span class="texto-btn" data-bind-to="text:labelback" > Back</span>
           </button>
        </nav>
    </div>  
    <div class="main" >
       <main>
          <div class="box content"  >
                
          </div>
       </main>
    </div>
    <div class="footer">
        <footer  data-bind-html='property:textTemplate'>
         <button id="btn-footer-menu01" class="nav-mobile center-v push-float-right ripple" >
            <i class="fa fa-ellipsis-h fa-2x" ></i>
        </button>
      <div id="footer01" class="footer-menu" >
       <div class="panel-scroll" >
        <div class="panel-scroll-content" >
         <div class="panel-scroll-item" >
           <ul id="menupopup01" class="menu-popup01" >
            <li class="element item itm"><a class="element-link el ripple" href="#/template1">Link 1</a></li>
            <li class="element item itm"><a class="element-link el ripple" href="#/template2">Link 2</a></li> 
            <li class="element item itm"><a class="element-link el ripple" href="#/template3">Link 3</a></li> 
            <li class="element item itm"><a class="element-link el ripple" href="#/template4">Link 4</a></li> 
            <li class="element item itm"><a class="element-link el ripple" href="#/template5">Link 5</a></li>  
            <li class="element item itm"><a class="element-link el ripple" href="#/template6">Link 6</a></li> 
            <li class="element item itm"><a class="element-link el ripple" href="#/template7">Link 7</a></li> 
            <li class="element item itm"><a class="element-link el ripple" href="#/template8">Link 8</a></li> 
            <li class="element item itm"><a class="element-link el ripple" href="#/template9">Link 9</a></li> 
            <li class="element item itm"><a class="element-link el ripple" href="#/template10">Link 10</a></li> 
           </ul>
         </div>
        </div>
        <button id="btn-slide-up" class="slide-button-panel top" ><i class="fa fa-chevron-up fa-2x"></i></button>
        <button id="btn-slide-down" class="slide-button-panel bottom" ><i class="fa fa-chevron-down fa-2x"></i></button>
       </div>
      </div>
        </footer>
    </div>
    