<div id={{id}} class="wrapper page child" >
    <div class="nav" >
        <nav  >
          <button id="btn-toggle-back-3" class="nav-mobile push-float-right ripple" >
                    <span class="fa fa-close fa-2x" ></span>
               </button>
            <button id="btn-menu-aside" class="nav-mobile push-float-left ripple" >
                 <span class="fa fa-th-list fa-2x" ></span>
            </button>
           <!--
           <button type="button" id="btn-toggle-back-3" class="nav-mobile push-float-left" >
             <span class="fa fa-chevron-left" ></span>
             <span class="texto-btn" > Back</span>
           </button>
           -->
        
        </nav>
    </div>  
    <div class="main" >
       <main>
          <aside class="box menu-area cf" data-behavior="menuvertical01" >
                  
          </aside>
          <div class="box content" >
             <div class="panel-scroll" >
                <div class="panel-scroll-content" >
                   <div class="panel-scroll-item" >

                   </div>
                </div>
                <button id="btn-slide-up" class="slide-button-panel top" ><i class="fa fa-chevron-up fa-2x"></i></button>
                <button id="btn-slide-down" class="slide-button-panel bottom" ><i class="fa fa-chevron-down fa-2x"></i></button>
             </div>
          </div>
       </main>
    </div>
    <div class="footer" >
        <footer>
           <div class="push-center-inner push-center-2x" >
               <button id="btn-ok" class="nav-mobile push-float-left ripple" >
                   <span class="fa fa-check-circle fa-2x" ></span>
               </button>
               <button id="btn-cancel" class="nav-mobile push-float-right ripple" >
                 <span class="fa fa-times-circle fa-2x" ></span>
               </button>
               
               
           </div>
        </footer>
    </div>
</div>