<div id={{id}} class="wrapper page child" >
    <div class="nav" >
        <nav  >
           <button type="button" id="btn-toggle-back-3" class="nav-mobile push-float-left" >
             <span class="fa fa-chevron-left" ></span>
             <span class="texto-btn" > Back</span>
           </button>
        </nav>
    </div>  
    <div class="main" >
       <main>
          <div class="box content" >
                
          </div>
       </main>
    </div>
    <div class="footer" >
        <footer>
            
        </footer>
    </div>
</div>