  <header></header>
           
           <ux-layout id="root" class="wrapper root" >
               <ux-aside id="menuvertical" class="menu-area" >
                  <div class="loader-progress-01 hidden-icon" >
                   <div class="icon-loader" >
                       <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                       <span class="sr-only">Loading...</span>
                   </div>
                  </div>
              </ux-aside>
              <ux-navigation template="navbuttonswithsignin"></ux-navigation>
                <main> 
                  <ux-content class="content" template="menu" items=[1,2,3] >
                      
                     
                  
                  </ux-content>
                </main>
              <ux-footer></ux-footer>
           </ux-layout> 