  <ul class="menu-vertical-04">
                    <li class="parent element"><a class="menu text" href="#" >Link 1<span class="fa-fix-chevron-right push-float-right" ></span></a>
                        <ul class="sub-menu" >
                            <li class="animation-delay-01" ><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                            <li class="animation-delay-02" ><a class="sub-element" href="#/controller/action1" >SubLink 1</a></li>
                            <li class="animation-delay-03" ><a class="sub-element" href="#/controller/action2" >SubLink 2</a></li>
                            <li class="animation-delay-04" ><a class="sub-element" href="#/controller/action3" >SubLink 3</a></li>
                            <li class="animation-delay-05"><a class="sub-element" href="#/controller/action4" >SubLink 4</a></li>
                            <li class="animation-delay-06"><a class="sub-element" href="#/controller/action5" >SubLink 5</a></li>     
                        </ul>  
                        
                    </li>
                    <li class="parent element" ><a class="menu text" href="#">Link 2<span class="fa-fix-chevron-right push-float-right" ></span></a>
                        <ul class="sub-menu" >
                           <li class="animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                           <li class="animation-delay-02"><a class="sub-element" href="#/controller2/action1" >SubLink 1</a></li>
                           <li class="animation-delay-03"><a class="sub-element" href="#/controller2/action2" >SubLink 2</a></li>
                           <li class="animation-delay-04"><a class="sub-element" href="#/controller2/action3" >SubLink 3</a></li>
                           <li class="animation-delay-05"><a class="sub-element" href="#/controller2/action4" >SubLink 4</a></li>
                           <li class="animation-delay-06"><a class="sub-element" href="#/controller2/action5" >SubLink 5</a></li>
                        </ul>
                        
                    </li>
                    <li class="element" ><a class="menu text" href="#/controller/action3">Link 3
                        <!--
                        <span class="fa-fix-chevron-right push-float-right" ></span>
                        -->
                    </a>
                    </li>
                    <li class="parent element" ><a class="menu text" href="#">Link 4<span class="fa-fix-chevron-right push-float-right" ></span></a>
                        <ul class="sub-menu" >
                           <li class="animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                           <li class="animation-delay-02"><a class="sub-element" href="#" >SubLink 1</a></li>
                           <li class="animation-delay-03"><a class="sub-element" href="#" >SubLink 2</a></li>
                           <li class="animation-delay-04"><a class="sub-element" href="#" >SubLink 3</a></li>
                           <li class="animation-delay-05"><a class="sub-element" href="#" >SubLink 4</a></li>
                           <li class="animation-delay-06"><a class="sub-element" href="#" >SubLink 5</a></li>
                        </ul> 
                        
                    </li>
                </ul>