
<ul class="list-acordion" >
   <li class="list-item" >
       <a class="element-link gr expand" href="#" >
           Link 1<span class="fa fa-chevron-right push-float-right" ></span>
           </a>
         
      <div class="panel-item" >
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius voluptate, minima repellendus dolor, eum dolorem impedit aspernatur modi, aliquid commodi deleniti quas veritatis porro id a magnam temporibus molestiae accusamus.
      </div>
      
   </li>
   <li class="list-item" >
       <a class="element-link gr" href="#" >
           Link 2<span class="fa fa-chevron-right push-float-right" ></span>
           </a>
        
     <div class="panel-item" >
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nisi veritatis neque, quisquam, tenetur harum. Possimus doloribus natus amet id nemo sapiente, aperiam necessitatibus, delectus, velit tenetur, qui magni maiores.
     </div>
     
   </li>
   <li class="list-item" >
       <a class="element-link gr" href="#">
           Link 3<span class="fa fa-chevron-right push-float-right" ></span>
           </a>
         
     <div class="panel-item" >
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, itaque, aliquid. Vero cupiditate error accusantium voluptatibus quaerat illum rerum illo inventore. Sed deserunt doloremque dolore, fugiat dolorum iure consequatur alias.
     </div>
     
   </li>
    <li class="list-item" >
       <a class="element-link gr" href="#">
           Link 3<span class="fa fa-chevron-right push-float-right" ></span>
           </a>
         
     <div class="panel-item" >
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, itaque, aliquid. Vero cupiditate error accusantium voluptatibus quaerat illum rerum illo inventore. Sed deserunt doloremque dolore, fugiat dolorum iure consequatur alias.
     </div>
     
   </li>
     <li class="list-item" >
       <a class="element-link gr" href="#">
           Link 3<span class="fa fa-chevron-right push-float-right" ></span>
           </a>
         
     <div class="panel-item" >
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, itaque, aliquid. Vero cupiditate error accusantium voluptatibus quaerat illum rerum illo inventore. Sed deserunt doloremque dolore, fugiat dolorum iure consequatur alias.
     </div>
     
   </li>
     <li class="list-item" >
       <a class="element-link gr" href="#">
           Link 3<span class="fa fa-chevron-right push-float-right" ></span>
           </a>
         
     <div class="panel-item" >
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, itaque, aliquid. Vero cupiditate error accusantium voluptatibus quaerat illum rerum illo inventore. Sed deserunt doloremque dolore, fugiat dolorum iure consequatur alias.
     </div>
     
   </li>
</ul>