
                 <ul class="list-collection cf" >
                    <li>
                        <div class="el-left" >
                            <img src="src/img/64.svg" >
                        </div>
                        <div class="el-content" >
                            <h2>Title 1</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem facilis nisi soluta dicta, asperiores, fugiat enim ab adipisci doloribus quaerat at saepe suscipit labore. Sit ipsa esse illo reprehenderit?</p>
                        </div>
                        <a class="list-element el-right" href="#/controller3/action1" >
                            <span class="fa fa-chevron-right center" ></span>
                        </a>
                    </li>
                    <li>
                        <div class="el-left" >
                            <img src="src/img/64.svg" >
                        </div>
                        <div class="el-content" >
                            <h2>Title 2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem facilis nisi soluta dicta, asperiores, fugiat enim ab adipisci doloribus quaerat at saepe suscipit labore. Sit ipsa esse illo reprehenderit?</p>
                        </div>
                        <a class="list-element el-right" href="#" >
                            <span class="fa fa-chevron-right center" ></span>
                        </a>
                    </li>
                     <li>
                        <div class="el-left" >
                            <img src="src/img/64.svg" >
                        </div>
                        <div class="el-content" >
                            <h2>Title 3</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem facilis nisi soluta dicta, asperiores, fugiat enim ab adipisci doloribus quaerat at saepe suscipit labore. Sit ipsa esse illo reprehenderit?</p>
                        </div>
                        <a class="list-element el-right" href="#" >
                              <span class="fa fa-chevron-right center" ></span>
                        </a>
                    </li>
                </ul>
        
          