<div class="tab-container" >
  <div class="tab-controls">
        <a href="#" >Tab 1</a>
        <a href="#" >Tab 2</a>
        <a href="#" >Tab 3</a>
        <a href="#" >Tab 4</a>
  </div>  
  <div class="tab-items" >
     
        <ul>
          <li>
            <my-panel-scroll-content></my-panel-scroll-content>
          </li>
          <li>

          </li>
          <li>
              <my-panel-scroll-content></my-panel-scroll-content>
          </li>
          <li>

          </li>     
        </ul>    
     
  </div>
</div>