 <div class="menu-vertical-0501 level-00" >
                  <div data-level="level-00" class="box-menu level-00" >
                  <div class="caption" ><span class="fa fa-tags" ></span>   All Categories</div>
                  <div class="icon-aside-menu push-float-right"><span class="" ></span></div>
                  <ul class="sub-menu">
                    <li class="parent element"><a class="element-link text" href="#" ><span class="fa fa-home"></span>   Link 1<span class="fa-fix-chevron-right push-float-right" ></span></a>
                        
                        <div data-level="level-01" class="box-menu level-01" >
                            <a class="caption close" href="#" >Link 1<span class="fa fa-times-circle fa-1x  push-float-right"></span></a>                            
                            <div class="icon-aside-menu"><span class="fa fa-home" ></span></div>
                            <div class="title" >Link 1    sdddd </div>
                            <ul class="sub-menu" >
                                <li class="element animation-delay-01" ><a class="back-element" href="#" ><span class="fa-fix-back  push-float-left" ></span>Back</a></li>
                                <li class="element animation-delay-02" ><a class="element-link" href="#/controller/action1" ><span class="fa fa-tag" ></span>   SubLink 1</a></li>
                                <li class="element animation-delay-03" ><a class="element-link" href="#/controller/action2" ><span class="fa fa-tag" ></span>   SubLink 2</a></li>
                                <li class="element parent animation-delay-04" ><a class="element-link text" href="#" ><span class="fa fa-pie-chart"></span>   SubLink 3<span class="fa-fix-chevron-right push-float-right" ></a>
                                   
                                   <div data-level="level-02" class="box-menu level-02" >
                                     <a class="caption close" href="#" >SubLink 3<span class="fa fa-times-circle fa-1x  push-float-right"></span></a>
                                     <div class="icon-aside-menu"><span class="fa fa-pie-chart" ></span></div>
                                     <div class="title" >SubLink 3</div>
                                     <ul class="sub-menu" >  
                                       <li class="element animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                                       <li class="element animation-delay-02"><a class="element-link" href="#/2" ><span class="fa fa-tag" ></span>   SubLink 3-1</a></li>
                                       <li class="element animation-delay-03"><a class="element-link" href="#/3" ><span class="fa fa-tag" ></span>   SubLink 3-2</a></li>
                                       <li class="element animation-delay-04"><a class="element-link" href="#/4" ><span class="fa fa-tag" ></span>   SubLink 3-3</a></li>
                                       <li class="element animation-delay-05"><a class="element-link" href="#/5" ><span class="fa fa-tag" ></span>   SubLink 3-4</a></li>
                                       <li class="element animation-delay-06"><a class="element-link" href="#/6" ><span class="fa fa-tag" ></span>   SubLink 3-5</a></li>    
                                     </ul>
                                   </div>
                                </li>
                                <li class="element animation-delay-05"><a class="element-link" href="#/controller/action4" ><span class="fa fa-tag" ></span>   SubLink 4</a></li>
                                <li class="element animation-delay-06"><a class="element-link" href="#/controller/action5" ><span class="fa fa-tag" ></span>   SubLink 5</a></li>     
                            </ul>  
                        </div>
                        
                    </li>
                    <li class="parent element" ><a class="element-link text" href="#"><span class="fa fa-calendar" ></span>   Link 2<span class="fa-fix-chevron-right push-float-right" ></span></a>
                        
                        <div data-level="level-01" class="box-menu level-01" >
                            <a class="caption close" href="#" >Link 2<span class="fa fa-times-circle fa-1x  push-float-right"></span></a>
                            <div class="icon-aside-menu"><span class="fa fa-calendar" ></span></div>
                            <div class="title" >Link 2</div>
                            <ul class="sub-menu" >
                              <li class="element animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                              <li class="element animation-delay-02"><a class="element-link" href="#/controller2/action1" ><span class="fa fa-tag" ></span>   SubLink 1</a></li>
                              <li class="element animation-delay-03"><a class="element-link" href="#/controller2/action2" ><span class="fa fa-tag" ></span>   SubLink 2</a></li>
                              <li class="element parent animation-delay-04"><a class="element-link text" href="#" ><span class="fa fa-glass"></span>  SubLink 3<span class="fa-fix-chevron-right push-float-right" ></span></a>
                                   <div data-level="level-02" class="box-menu level-02" >
                                     <a class="caption close" href="#" >SubLink 3<span class="fa fa-times-circle fa-1x  push-float-right"></span></a>
                                     <div class="icon-aside-menu"><span class="fa fa-glass" ></span></div>
                                     <div class="title" >SubLink 3</div>
                                     <ul class="sub-menu" >  
                                       <li class="element animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                                       <li class="element animation-delay-02"><a class="element-link" href="#/2" ><span class="fa fa-tag" ></span>   SubLink 3-1</a></li>
                                       <li class="element animation-delay-03"><a class="element-link" href="#/3" ><span class="fa fa-tag" ></span>   SubLink 3-2</a></li>
                                       <li class="element parent animation-delay-04"><a class="element-link text" href="#" ><span class="fa fa-taxi" ></span>   SubLink 3-3<span class="fa-fix-chevron-right push-float-right" ></span></a>
                                             <div data-level="level-03" class="box-menu level-03" >
                                                <a class="caption close" href="#" >SubLink 3-3<span class="fa fa-times-circle fa-1x  push-float-right"></span></a>
                                                <div class="icon-aside-menu"><span class="fa fa-taxi" ></span></div>
                                                <div class="title" >SubLink 3-3</div>
                                                <ul class="sub-menu" >  
                                                <li class="element animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                                                <li class="element animation-delay-02"><a class="element-link" href="#/2" ><span class="fa fa-tag" ></span>   SubLink 3-3-1</a></li>
                                                <li class="element animation-delay-03"><a class="element-link" href="#/3" ><span class="fa fa-tag" ></span>   SubLink 3-3-2</a></li>
                                                <li class="element animation-delay-04"><a class="element-link" href="#/4" ><span class="fa fa-tag" ></span>   SubLink 3-3-3</a></li>
                                                <li class="element parent animation-delay-05"><a class="element-link text" href="#" ><span class="fa fa-cloud" ></span>   SubLink 3-3-4<span class="fa-fix-chevron-right push-float-right" ></span></a>
                                                     <div data-level="level-04" class="box-menu level-04" >
                                                        <a class="caption close" href="#" >SubLink 3-3-4<span class="fa fa-times-circle fa-1x  push-float-right"></span></a>
                                                        <div class="icon-aside-menu"><span class="fa fa-cloud" ></span></div>
                                                        <div class="title" >SubLink 3-3-4</div>
                                                        <ul class="sub-menu" >  
                                                        <li class="element animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                                                        <li class="element animation-delay-02"><a class="element-link" href="#/2" ><span class="fa fa-tag" ></span>   SubLink 3-3-4-1</a></li>
                                                        <li class="element animation-delay-03"><a class="element-link" href="#/3" ><span class="fa fa-tag" ></span>   SubLink 3-3-4-2</a></li>
                                                        <li class="element animation-delay-04"><a class="element-link" href="#/4" ><span class="fa fa-tag" ></span>   SubLink 3-3-4-3</a></li>
                                                        <li class="element animation-delay-05"><a class="element-link" href="#/5" ><span class="fa fa-tag" ></span>   SubLink 3-3-4-4</a></li>
                                                        <li class="element animation-delay-06"><a class="element-link" href="#/6" ><span class="fa fa-tag" ></span>   SubLink 3-3-4-5</a></li>    
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="element animation-delay-06"><a class="element-link" href="#/6" ><span class="fa fa-tag" ></span>   SubLink 3-3-5</a></li>    
                                                </ul>
                                            </div> 
                                       </li>
                                       <li class="element animation-delay-05"><a class="element-link" href="#/5" ><span class="fa fa-tag" ></span>   SubLink 3-4</a></li>
                                       <li class="element animation-delay-06"><a class="element-link" href="#/6" ><span class="fa fa-tag" ></span>   SubLink 3-5</a></li>    
                                     </ul>
                                   </div>
                              </li>
                              <li class="element animation-delay-05"><a class="element-link" href="#/controller2/action4" ><span class="fa fa-tag" ></span>   SubLink 4</a></li>
                              <li class="element animation-delay-06"><a class="element-link" href="#/controller2/action5" ><span class="fa fa-tag" ></span>   SubLink 5</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="element" ><a class="element-link text" href="#/controller/action3"><span class="fa fa-tag"></span>   Link 3</a>
                    </li>
                    <li class="parent element" ><a class="element-link text" href="#"><span class="fa fa-camera"></span>       Link 4<span class="fa-fix-chevron-right push-float-right" ></span></a>
                        
                        <div data-level="level-01" class="box-menu level-01" >
                            <a class="caption close" href="#" >Link 4<span class="fa fa-times-circle fa-1x  push-float-right"></span></a>
                            <div class="icon-aside-menu"><span class="fa fa-camera" ></span></div>
                            <div class="title" >Link 4</div>
                            <ul class="sub-menu" >
                              <li class="element animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                              <li class="element animation-delay-02"><a class="element-link" href="#" ><span class="fa fa-tag" ></span>   SubLink 1</a></li>
                              <li class="element animation-delay-03"><a class="element-link" href="#" ><span class="fa fa-tag" ></span>   SubLink 2</a></li>
                              <li class="parent element animation-delay-04"><a class="element-link text" href="#" ><span class="fa fa-industry"></span> SubLink 3<span class="fa-fix-chevron-right push-float-right" ></span></a>
                                   <div data-level="level-02" class="box-menu level-02" >
                                     <a class="caption close" href="#" >SubLink 3<span class="fa fa-times-circle fa-1x  push-float-right"></span></a>
                                     <div class="icon-aside-menu"><span class="fa fa-industry" ></span></div>
                                     <div class="title" >SubLink 3</div>
                                     <ul class="sub-menu" >  
                                       <li class="element animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                                       <li class="element animation-delay-02"><a class="element-link" href="#/2" ><span class="fa fa-tag" ></span>   SubLink 4-1</a></li>
                                       <li class="parent element animation-delay-03"><a class="element-link text" href="#" ><span class="fa fa-map" ></span>   SubLink 4-1<span class="fa-fix-chevron-right push-float-right" ></span></a>
                                             <div data-level="level-03" class="box-menu level-03" >
                                                <a class="caption close" href="#" >SubLink 4-1<span class="fa fa-times-circle fa-1x  push-float-right"></span></a>
                                                <div class="icon-aside-menu"><span class="fa fa-map" ></span></div>
                                                <div class="title" >SubLink 4-1</div>
                                                <ul class="sub-menu" >  
                                                <li class="element animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                                                <li class="element animation-delay-02"><a class="element-link" href="#/2" ><span class="fa fa-tag" ></span>   SubLink 4-1-1</a></li>
                                                <li class="element animation-delay-03"><a class="element-link" href="#/3" ><span class="fa fa-tag" ></span>   SubLink 4--1-2</a></li>
                                                <li class="element animation-delay-04"><a class="element-link" href="#/4" ><span class="fa fa-tag" ></span>   SubLink 4-1-3</a></li>
                                                <li class="element animation-delay-05"><a class="element-link" href="#/5" ><span class="fa fa-tag" ></span>   SubLink 4-1-4</a></li>
                                                <li class="element animation-delay-06"><a class="element-link" href="#/6" ><span class="fa fa-tag" ></span>   SubLink 4-1-5</a></li>    
                                                </ul>
                                            </div> 
                                           
                                       </li>
                                       <li class="element animation-delay-04"><a class="element-link" href="#/4" ><span class="fa fa-tag" ></span>   SubLink 4-3</a></li>
                                       <li class="element animation-delay-05"><a class="element-link" href="#/5" ><span class="fa fa-tag" ></span>   SubLink 4-4</a></li>
                                       <li class="element animation-delay-06"><a class="element-link" href="#/6" ><span class="fa fa-tag" ></span>   SubLink 4-5</a></li>    
                                     </ul>
                                   </div>
                              </li>
                              <li class="element animation-delay-05"><a class="element-link" href="#" ><span class="fa fa-tag" ></span>   SubLink 4</a></li>
                              <li class="element animation-delay-06"><a class="element-link" href="#" ><span class="fa fa-tag" ></span>   SubLink 5</a></li>
                            </ul> 
                        </div>
                    </li>
                  </ul>

                </div>