 <div class="menu-vertical01"  >
 <div class="container-menu-scroll" >
                <ul class="items " >
                    <li class="parent element pr"><a class="element-link gr" href="#" >Link 1<span class="fa fa-chevron-right push-float-right" ></span></a>
                         <div class="sub-menu sb" >
                           <a class="element-link el" href="#/plantilla1" data-panel-id="template01" >SubLink 1</a>
                           <a class="element-link el" href="#/plantilla2" data-panel-id="template02">SubLink 2</a>
                           <a class="element-link el" href="#/plantilla3" data-panel-id="template03">SubLink 3</a>
                           <a class="element-link el" href="#/plantilla4" data-panel-id="template04">SubLink 4</a>
                           <a class="element-link el" href="#/plantilla5" data-panel-id="template05">SubLink 5</a>
                         </div>
                    </li>
                    <li class="parent element pr" ><a class="element-link gr" href="#">Link 2<span class="fa fa-chevron-right push-float-right" ></span></a>
                         <div class="sub-menu sb" >
                           <a class="element-link el" href="#/plantilla7" >SubLink 1</a>
                           <a class="element-link el" href="#/plantilla8" >SubLink 2</a>
                           <a class="element-link el" href="#/plantilla9" >SubLink 3</a>
                           <a class="element-link el" href="#/plantilla10" >SubLink 4</a>
                           <a class="element-link el" href="#/plantilla11" >SubLink 5</a>
                         </div>
                    </li>
                    <li class="element item itm" ><a class="element-link el" href="#/plantilla6">Link 3
                        <!--
                        <span class="fa-fix-chevron-right push-float-right" ></span>
                        -->
                    </a>
                    
                    </li>
                    <li class="parent element pr" ><a class="element-link gr" href="#">Link 4<span class="fa fa-chevron-right push-float-right" ></span></a>
                       <div class="sub-menu sb" >
                           <a class="element-link el" href="#" >SubLink 1</a>
                           <a class="element-link el" href="#" >SubLink 2</a>
                           <a class="element-link el" href="#" >SubLink 3</a>
                           <a class="element-link el" href="#" >SubLink 4</a>
                           <a class="element-link el" href="#" >SubLink 5</a>
                       </div>
                    </li>
                     <li class="parent element pr" ><a class="element-link gr" href="#">Link 5<span class="fa fa-chevron-right push-float-right" ></span></a>
                       <div class="sub-menu sb" >
                           <a class="element-link el" href="#" >SubLink 1</a>
                           <a class="element-link el" href="#" >SubLink 2</a>
                           <a class="element-link el" href="#" >SubLink 3</a>
                           <a class="element-link el" href="#" >SubLink 4</a>
                           <a class="element-link el" href="#" >SubLink 5</a>
                       </div>
                    </li>
                </ul>
              </div>
              <button id="btn-slide-up" class="slide-button top" ><i class="fa fa-chevron-up fa-2x"></i></button>
              <button id="btn-slide-down" class="slide-button bottom" ><i class="fa fa-chevron-down fa-2x"></i></button>
      
    </div>  