*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.cf:before,
        .cf:after {
         content: " "; /* 1 */
         display: table; /* 2 */
        }
        .cf:after {
          clear: both;
        }
        
*[data-yield-for]{
  display:none;
}
*[data-yield-to]{
  display:inline-block;
  position: relative;

}
