//*********************************************
//Blue
$Blue500: #2196F3;
$Blue50: #E3F2FD;
$Blue100: #BBDEFB;
$Blue200: #90CAF9;
$Blue300: #64B5F6;
$Blue400: #42A5F5;
$Blue600: #1E88E5;
$Blue700: #1976D2;
$Blue800: #1565C0;
$Blue900: #0D47A1;

$BlueA100: #82B1FF;
$BlueA200: #448AFF;
$BlueA400: #2979FF;
$BlueA700: #2962FF;

//****************************************
//Light Blue
$LightBlue500: #03A9F4;
$LightBlue50: #E1F5FE;
$LightBlue100: #B3E5FC;
$LightBlue200: #81D4FA;
$LightBlue300: #4FC3F7;
$LightBlue400: #29B6F6;
$LightBlue600: #039BE5;
$LightBlue700: #0288D1;
$LightBlue800: #0277BD;
$LightBlue900: #01579B;

$LightBlueA100: #80D8FF;
$LightBlueA200: #40C4FF;
$LightBlueA400: #00B0FF;
$LightBlueA700: #0091EA;

//***********************************************
//Green
$Green500: #4CAF50;
$Green50: #E8F5E9;
$Green100: #C8E6C9;
$Green200: #A5D6A7;
$Green300: #81C784;
$Green400: #66BB6A;
$Green500: #4CAF50;
$Green600: #43A047;
$Green700: #388E3C;
$Green800: #2E7D32;
$Green900: #1B5E20;
$GreenA100: #B9F6CA;
$GreenA200: #69F0AE;
$GreenA400: #00E676;
$GreenA700: #00C853;
//***********************************************
//Yellow
$Yellow500: #FFEB3B;
$Yellow50: #FFFDE7;
$Yellow100: #FFF9C4;
$Yellow200: #FFF59D;
$Yellow300: #FFF176;
$Yellow400: #FFEE58;
$Yellow500: #FFEB3B;
$Yellow600: #FDD835;
$Yellow700: #FBC02D;
$Yellow800: #F9A825;
$Yellow900: #F57F17;

$YellowA100: #FFFF8D;
$YellowA200: #FFFF00;
$YellowA400: #FFEA00;
$YellowA700: #FFD600;
//******************************************
// Amber
$Amber500:#FFC107;
$Amber50: #FFF8E1;
$Amber100: #FFECB3;
$Amber200: #FFE082;
$Amber300: #FFD54F;
$Amber400: #FFCA28;
$Amber500: #FFC107;
$Amber600: #FFB300;
$Amber700: #FFA000;
$Amber800: #FF8F00;
$Amber900: #FF6F00;

$AmberA100: #FFE57F;
$AmberA200: #FFD740;
$AmberA400: #FFC400;
$AmberA700: #FFAB00;
//***********************************************
//Red
$Red500: #F44336; 
$Red50: #FFEBEE;
$Red100: #FFCDD2;
$Red200: #EF9A9A;
$Red300: #E57373;
$Red400: #EF5350;
$Red500: #F44336;
$Red600: #E53935;
$Red700: #D32F2F;
$Red800: #C62828;
$Red900: #B71C1C;

$RedA100: #FF8A80;
$RedA200: #FF5252;
$RedA400: #FF1744;
$RedA700: #D50000;
//***********************************************
//Deep Orange
$DOrange500: #FF5722;
$DOrange50: #FBE9E7;
$DOrange100: #FFCCBC;
$DOrange200: #FFAB91;
$DOrange300: #FF8A65;
$DOrange400: #FF7043;
$DOrange500: #FF5722;
$DOrange600: #F4511E;
$DOrange700: #E64A19;
$DOrange800: #D84315;
$DOrange900: #BF360C;

$DOrangeA100: #FF9E80;
$DOrangeA200: #FF6E40;
$DOrangeA400: #FF3D00;
$DOrangeA700: #DD2C00;
//***********************************************
//Lime
$Lime500:#CDDC39;
$Lime50: #F9FBE7;
$Lime100: #F0F4C3;
$Lime200: #E6EE9C;
$Lime300: #DCE775;
$Lime400: #D4E157;
$Lime500: #CDDC39;
$Lime600: #C0CA33;
$Lime700: #AFB42B;
$Lime800: #9E9D24;
$Lime900: #827717;

$LimeA100: #F4FF81;
$LimeA200: #EEFF41;
$LimeA400: #C6FF00;
$LimeA700: #AEEA00;

//***********************************************
//Orange
$Orange500: #FF9800;
$Orange50:#FFF3E0;
$Orange100:#FFE0B2;
$Orange200:#FFCC80;
$Orange300:#FFB74D;
$Orange400:#FFA726;
$Orange600:#FB8C00;
$Orange700:#F57C00;
$Orange800:#EF6C00;
$Orange900:#E65100;

$OrangeA100:#FFD180;
$OrangeA200: #FFAB40;
$OrangeA400: #FF9100;
$OrangeA700: #FF6D00;

//**********************************************
//Light Green
$LGreen500: #8BC34A;
$LGreen50: #F1F8E9;
$LGreen100: #DCEDC8;
$LGreen200: #C5E1A5;
$LGreen300: #AED581;
$LGreen400: #9CCC65;
$LGreen500: #8BC34A;
$LGreen600: #7CB342;
$LGreen700: #689F38;
$LGreen800: #558B2F;
$LGreen900: #33691E;

$LGreenA100: #CCFF90;
$LGreenA200: #B2FF59;
$LGreenA400: #76FF03;
$LGreenA700: #64DD17;

//**********************************************
//purple
$Purple500: #9C27B0;
$Purple50: #F3E5F5;
$Purple100: #E1BEE7;
$Purple200: #CE93D8;
$Purple300: #BA68C8;
$Purple400: #AB47BC;
$Purple500: #9C27B0;
$Purple600: #8E24AA;
$Purple700: #7B1FA2;
$Purple800: #6A1B9A;
$Purple900: #4A148C;

$PurpleA100: #EA80FC;
$PurpleA200: #E040FB;
$PurpleA400: #D500F9;
$PurpleA700: #AA00FF;
//*****************************
//gama de colores Deep Purple
$Deep-Purple500:#673AB7;
$Deep-Purple50:#EDE7F6;
$Deep-Purple100: #D1C4E9;
$Deep-Purple200: #B39DDB;
$Deep-Purple300: #9575CD;
$Deep-Purple400: #7E57C2;
$Deep-Purple500: #673AB7;
$Deep-Purple600: #5E35B1;
$Deep-Purple700: #512DA8;
$Deep-Purple800: #4527A0;
$Deep-Purple900: #311B92;

$Deep-PurpleA100: #B388FF;
$Deep-PurpleA200: #7C4DFF;
$Deep-PurpleA400: #651FFF;
$Deep-PurpleA700: #6200EA;
//*****************************
//gama de colores Indigo
$Indigo500: #3F51B5;
$Indigo50: #E8EAF6;
$Indigo100: #C5CAE9;
$Indigo200: #9FA8DA;
$Indigo300: #7986CB;
$Indigo400: #5C6BC0;
$Indigo500: #3F51B5;
$Indigo600: #3949AB;
$Indigo700: #303F9F;
$Indigo800: #283593;
$Indigo900: #1A237E;

$IndigoA100: #8C9EFF;
$IndigoA200: #536DFE;
$IndigoA400: #3D5AFE;
$IndigoA700: #304FFE;
//*****************************
//gamma de colores Teal
$Teal500: #009688;
$Teal50:#E0F2F1;
$Teal100: #B2DFDB;
$Teal200: #80CBC4;
$Teal300: #4DB6AC;
$Teal400: #26A69A;
$Teal500: #009688;
$Teal600: #00897B;
$Teal700: #00796B;
$Teal800: #00695C;
$Teal900: #004D40;
$TealA100: #A7FFEB;
$TealA200: #64FFDA;
$TealA400: #1DE9B6;
$TealA700: #00BFA5;
//****************************
//Gama de colores Grey
$Grey500: #9E9E9E;
$Grey50: #FAFAFA;
$Grey100: #F5F5F5;
$Grey200: #EEEEEE;
$Grey300: #E0E0E0;
$Grey400: #BDBDBD;
$Grey500: #9E9E9E;
$Grey600: #757575;
$Grey700: #616161;
$Grey800: #424242;
$Grey900: #212121;


//*****************************
//Gama de colores BlueGrey
$BlueGrey500: #607D8B;
$BlueGrey50: #ECEFF1;
$BlueGrey100: #CFD8DC;
$BlueGrey200: #B0BEC5;
$BlueGrey300: #90A4AE;
$BlueGrey400: #78909C;
$BlueGrey500: #607D8B;
$BlueGrey600: #546E7A;
$BlueGrey700: #455A64;
$BlueGrey800: #37474F;
$BlueGrey900: #263238;

//*********************************
$nav:51px;
$footer:51px;
$headh:15%;
$headerHeight:15vh;
$asidew:200px;
$asidewdesplaz:230px;
$maxpagew:960px;
$minpage: 320px;

//************************************************
//mixins de esquemas del color
@mixin aplicar_colores($v500,$v50,$v100,$v200,$v300,
$v400,$v500,$v600,$v700,$v800,$v900,$va100,$va200,$va400,$va700){
//--------------------
$c500: $v500 !global;
$c50: $v50 !global;
$c100: $v100 !global;
$c200: $v200 !global;
$c300: $v300 !global;
$c400: $v400 !global;
$c500: $v500 !global;
$c600: $v600 !global;
$c700: $v700 !global;
$c800: $v800 !global;
$c900: $v900 !global;

$A100: $va100 !global;
$A200: $va200 !global;
$A400: $va400 !global;
$A700: $va700 !global;

}
$themeColor:"Indigo";
@if $themeColor=="Teal" {
   @include aplicar_colores($Teal500,$Teal50,$Teal100,$Teal200,$Teal300,$Teal400,$Teal500,$Teal600,
$Teal700,$Teal800,$Teal900,$TealA100,$TealA200,$TealA400,$TealA700);
} @else if $themeColor=="Indigo" {
   @include aplicar_colores($Indigo500,$Indigo50,$Indigo100,$Indigo200,$Indigo300,$Indigo400,$Indigo500,
$Indigo600,$Indigo700,$Indigo800,$Indigo900,$IndigoA100,$IndigoA200,$IndigoA400,$IndigoA700);
} @else if $themeColor=="Purple" {
    @include aplicar_colores($Purple500,$Purple50,$Purple100,$Purple200,$Purple300,$Purple400,$Purple500,
$Purple600,$Purple700,$Purple800,$Purple900,$PurpleA100,$PurpleA200,$PurpleA400,$PurpleA700);
} @else if $themeColor=="Blue" {
    @include aplicar_colores($Blue500,$Blue50,$Blue100,$Blue200,$Blue300,$Blue400,$Blue500,$Blue600,$Blue700,$Blue800,$Blue900,
$BlueA100,$BlueA200,$BlueA400,$BlueA700);
} @else if $themeColor=="Orange" {
@include aplicar_colores($Orange500,$Orange50,$Orange100,$Orange200,$Orange300,$Orange400,$Orange500,
$Orange600,$Orange700,$Orange800,$Orange900,$OrangeA100,$OrangeA200,$OrangeA400,$OrangeA700);
} @else if $themeColor=="Red" {
   @include aplicar_colores($Red500,$Red50,$Red100,$Red200,$Red300,$Red400,$Red500,$Red600,$Red700,$Red800,$Red900,
$RedA100,$RedA200,$RedA400,$Red700);
} @else if $themeColor=="Lime" {
    @include aplicar_colores($Lime500,$Lime50,$Lime100,$Lime200,$Lime300,$Lime400,$Lime500,$Lime600,$Lime700,$Lime800,
$Lime900,$LimeA100,$LimeA200,$LimeA400,$LimeA700);
} @else if $themeColor=="Amber" {
   @include aplicar_colores($Amber500,$Amber50,$Amber100,$Amber200,$Amber300,$Amber400,$Amber500,$Amber600,$Amber700,
$Amber800,$Amber900,$AmberA100,$AmberA200,$AmberA400,$AmberA700);
}  @else if $themeColor=="Green" {
@include aplicar_colores($Green500,$Green50,$Green100,$Green200,$Green300,$Green400,$Green500,$Green600,$Green700,$Green800,$Green900,
$GreenA100,$GreenA200,$GreenA400,$Green700);
} @else if $themeColor=="DOrange" {
   @include aplicar_colores($DOrange500,$DOrange50,$DOrange100,$DOrange200,$DOrange300,$DOrange400,$DOrange500,$DOrange600,$DOrange700,
$DOrange800,$DOrange900,$DOrangeA100,$DOrangeA200,$DOrangeA400,$DOrangeA700);
}

//**************************************
//mixins footer-menu
@mixin background-footer-item-01{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#651fff+0,6200ea+100 */
    background: $A400; /* Old browsers */
    background: -moz-linear-gradient(top,  $A400 0%, $A700 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $A400 0%,$A700 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $A400 0%,$A700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$A400}', endColorstr='#{$A700}',GradientType=0 ); /* IE6-9 */
}
@mixin footer-principal-structure-element-01{
      padding:10px;
      padding-left: 25px;
      border-top:1px solid $c100;
      border-bottom:1px solid $c900;
      display:block;
      position:relative;  //importante poner en .element-link position:relative
      width:100%;
      text-decoration: none;
      color:$c50;
      font-family: Helvetica,Arial,sans-serif ;
      font-weight: bold;
      text-shadow: 1px 1px 0px darkslategrey;
}
//**************************************
//mixins list-acordion
@mixin background-list-acordion-01{
     background: $c300; /* Old browsers */
     background: -moz-linear-gradient(top,  $c300 0%, $c400 45%, $c500 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top,  $c300 0%, $c400 45%,$c500 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom,  $c300 0%,$c400 45%,$c500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c300}', endColorstr='#{$c500}',GradientType=0 ); /* IE6-9 */ 
}

//*************************************
//mixims menu horizontal 01
@mixin background-menu-horizontal-element-01{
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#512da8+0,4527a0+24,311b92+88 */
    background: $c700; /* Old browsers */
    background: -moz-linear-gradient(top,  $c700 0%, $c800 24%, $c900 88%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $c700 0%, $c800 24%, $c900 88%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $c700 0%, $c800 24%, $c900 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c700}', endColorstr='#{$c900}',GradientType=0 ); /* IE6-9 */
}
//*************************************
//
@mixin menu-vertical-container-01{
    display:block;
    overflow: hidden;
    list-style: none;
    height: 100%;
    touch-action: none;
    /*margin-left: -#{$asidewdesplaz};*/
}
//*************************************
// mixins menu vertical 01
@mixin menu-vertical-principal-structure-element-01{
    padding:10px;
    border-top:1px solid $c100;
    border-bottom:1px solid $c900;
    display:block;
    position:relative;  //importante poner en .element-link position:relative
    width:100%;
    text-decoration: none;
    color:$c50;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight: bold;
    text-shadow: 1px 1px 0px darkslategrey;
}
@mixin background-menu-vertical-item-01{
   background: $c300; /* Old browsers */
   background: -moz-linear-gradient(top,  $c300 0%, $c400 44%, $c400 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, $c300 0%,$c400 44%,$c400 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  $c300 0%,$c400 44%,$c400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c300}', endColorstr='#{$c400}',GradientType=0 ); /* IE6-9 */
}

@mixin background-menu-vertical-item-hover-01{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#651fff+0,6200ea+100 */
background: $A400; /* Old browsers */
background: -moz-linear-gradient(top,  $A400 0%, $A700 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  $A400 0%,$A700 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  $A400 0%,$A700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$A400}', endColorstr='#{$A700}',GradientType=0 ); /* IE6-9 */
}

@mixin background-menu-vertical-parent-hover-01{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#512da8+0,311b92+100 */
background: $c500; /* Old browsers */
background: -moz-linear-gradient(top,  $c700 0%, $c900 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  $c700 0%,$c900 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  $c700 0%,$c900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c700}', endColorstr='#{$c900}',GradientType=0 ); /* IE6-9 */

}

@mixin background-menu-vertical-01{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#673ab7+0,9575cd+0,673ab7+51,5e35b1+100 */
background: $c500; /* Old browsers */
background: -moz-linear-gradient(top,  $c500 0%, $c300 0%, $c500 51%, $c600 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  $c500 0%,$c300 0%,$c500 51%,$c600 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  $c500 0%,$c300 0%,$c500 51%,$c600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c500}', endColorstr='#{$c600}',GradientType=0 ); /* IE6-9 */

}
@mixin menu-vertical-slide-button-01{
     background: -moz-radial-gradient(center, ellipse cover,  rgba(96,108,136,0.97) 0%, rgba(96,108,136,0.97) 1%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
     background: -webkit-radial-gradient(center, ellipse cover,  rgba(96,108,136,0.97) 0%,rgba(96,108,136,0.97) 1%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
     background: radial-gradient(ellipse at center,  rgba(96,108,136,0.97) 0%,rgba(96,108,136,0.97) 1%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}
@mixin menu-vertical-slide-button-hover-01{
   background: -moz-radial-gradient(center, ellipse cover,  rgba(96,108,136,0.97) 0%, rgba(96,108,136,0.97) 1%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
   background: -webkit-radial-gradient(center, ellipse cover,  rgba(96,108,136,0.97) 0%,rgba(96,108,136,0.97) 1%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: radial-gradient(ellipse at center,  rgba(96,108,136,0.97) 0%,rgba(96,108,136,0.97) 1%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
//******************************************
//mixins layout principal
@mixin shadow01 {
   -webkit-box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.75);
   -moz-box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.75);
   box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.75);  
}   
@mixin shadow02 {
-webkit-box-shadow: 4px 0px 5px -1px rgba(51,47,51,0.81);
-moz-box-shadow: 4px 0px 5px -1px rgba(51,47,51,0.81);
box-shadow: 4px 0px 5px -1px rgba(51,47,51,0.81);
}
@mixin shadowbottom01{
  -moz-box-shadow: 0px 9px 18px -5px rgba(51,47,51,0.81);
  -webkit-box-shadow: 0px 9px 18px -5px rgba(51,47,51,0.81);
  box-shadow: 0px 9px 18px -5px rgba(51,47,51,0.81);
}
@mixin shadowtop01{
    -webkit-box-shadow: 0px -7px 18px -5px rgba(51,47,51,0.81);
-moz-box-shadow: 0px -7px 18px -5px rgba(51,47,51,0.81);
box-shadow: 0px -7px 18px -5px rgba(51,47,51,0.81);
}
@mixin shadowbottom02{
-webkit-box-shadow: 0px 3px 4px 1px rgba(120,120,120,1);
-moz-box-shadow: 0px 3px 4px 1px rgba(120,120,120,1);
box-shadow: 0px 3px 4px 1px rgba(120,120,120,1);
}
@mixin background-menu-area-01{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#673ab7+0,9575cd+100 */
background: $c500; /* Old browsers */
background: -moz-linear-gradient(top, $c500 0%, $c300 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, $c500 0%, $c300 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  $c500 0%, $c300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c500}', endColorstr='#{$c300}',GradientType=0 ); /* IE6-9 */

}
@mixin background01 {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#673ab7+0,9575cd+100 */
background: $c500; /* Old browsers */
background: -moz-linear-gradient(top, $c900 0%, $c500 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, $c900 0%, $c500 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  $c900 0%, $c500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c900}', endColorstr='#{$c500}',GradientType=0 ); /* IE6-9 */

}
@mixin background01-inv{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#673ab7+0,9575cd+100 */
background: $c500; /* Old browsers */
background: -moz-linear-gradient(top, $c500 0%, $c900 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, $c500 0%, $c900 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  $c500 0%, $c900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c500}', endColorstr='#{$c900}',GradientType=0 ); /* IE6-9 */

}