           <header></header>
            <div id="menuvertical" class="menu-area" >
                  <div class="loader-progress-01 hidden-icon" >
                   <div class="icon-loader" >
                       <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                       <span class="sr-only">Loading...</span>
                   </div>
                  </div>
            </div>
            <div id="root" class="wrapper root" >
               <nav id="menuhorizontal" class="actions" ></nav>
                <main> 
                  <div class="content" >
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia aliquam dolorem ab, voluptas placeat eligendi qui, numquam autem aut sapiente exercitationem dolorum minima. Tempora, facilis cum, error iste odio ad?    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, asperiores nemo error quidem similique, molestias delectus incidunt qui obcaecati ea, quis in eos accusantium reprehenderit cupiditate magnam odio neque dolor.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad, porro praesentium perferendis nisi sed aspernatur. Quisquam possimus repellendus, aperiam atque, corporis, ducimus deleniti in quaerat velit vero consequatur? Sunt!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique harum, et reprehenderit nihil aliquid doloremque distinctio iste ipsum numquam nam est aspernatur dolorem culpa, molestias, ipsa in autem assumenda sint!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum ea velit reiciendis quam excepturi dolores repellendus quo veniam totam laboriosam tempora nisi, iure mollitia, iste minima fugiat quia eius.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur veritatis, excepturi dignissimos voluptatibus quisquam tempora ratione vero eaque iste enim ullam maiores omnis, odio minima maxime esse! At, qui.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime veritatis, minus eos optio illum laborum, ducimus voluptates, vero consequuntur numquam provident quos iure eum alias fuga, itaque totam officia sint!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde eos suscipit repellat rerum quisquam voluptas. Eum commodi dolorem, ab nostrum consectetur? Facere numquam dolore ullam eligendi iure eius magni vitae!
                  </div>
                </main>
              <footer></footer>
            </div> 