@import "../../shared/scss/variables";
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.loader-progress-01{
   display:block;
   position:relative;
  
   width:100%;
   
   padding:0;
   margin:0 auto;
   background: $c50;
   &.content{
     min-height:calc(100vh - #{$footer} - #{$nav} - 20px);  
     height:calc(100vh - #{$footer} - #{$nav} - 20px);
     @media (min-width:768px){   
       min-height:calc(100vh - #{$headerHeight} - #{$footer} - #{$nav} - 20px);   
       height:calc(100vh - #{$headerHeight} - #{$footer} - #{$nav} - 20px);  
     }   
   }
   &.splash-text{
     height:calc(100vh - 19px);  //es lo que mide el span en altura con su contenido
   }
   &.splash{
       height:100vh;
   }
   &.splash-panel{
     height: calc(100vh - #{$footer} - #{$nav} - 20px) ;
     @media (min-width:768px){ 
      height:calc(100vh - #{$headerHeight} - #{$footer} - #{$nav} - 20px);  
     }
   }
   .icon-loader{
       position:absolute;
       padding:0;
       color: $c500;
       height:64px;
       width:64px;
       max-width: 64px;
       margin:0 auto;
       left:calc(50% - 32px);
       top:50%;
       transform:translateY(-50%);
    -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
   }
   .wf-no-active{
       visibility: hidden;
   }
   .wf-active{
       visibility: visible;
   }
   &.hidden-icon{
       visibility: hidden;
   }
   &.show-icon{
       visibility: visible;
   }
}
