<div id="root" class="wrapper page root" >
    <div class="nav" >
        <nav data-behavior="navbuttonsactionsroot01">
               <button id="btn-toggle-left" class="nav-mobile ripple push-float-left" >
                    <i class="fa fa-bars fa-2x" ></i>  
                </button>
                <button id="btn-toggle-right" class="nav-mobile ripple  push-float-right" >
                    <i class="fa fa-list fa-2x" ></i>
                </button>
                <button id="btn-toggle-sign-in" class="nav-mobile ripple push-float-right" >
                    <i class="fa fa-sign-in fa-2x" ></i>  
                </button>
                
        </nav>
    </div>  
    <div class="main" >
       <main>
          <aside class="box menu-area cf" data-behavior="menuvertical0301" >
             
          </aside>
          <div class="box content" >
            
          </div>
       </main>
    </div>
    <div class="footer" >
        <footer>
            <button id="btn-footer-menu01" class="nav-mobile ripple push-float-right" >
               <i class="fa fa-ellipsis-h fa-2x" ></i>
            </button>
           
        </footer>
    </div>
</div>