<div id="root" class="wrapper page root" >
    <div class="nav" >
        <nav data-behavior="navbuttonsactionsroot01" >
                <button id="btn-toggle-left" class="nav-mobile ripple push-float-left" >
                    <i class="fa fa-bars fa-2x" ></i>  
                </button>
               
                <button id="btn-toggle-right" class="nav-mobile ripple push-float-right" >
                    <i class="fa fa-list fa-2x" ></i>
                </button>
                <button id="btn-toggle-sign-in" class="nav-mobile ripple push-float-right" >
                    <i class="fa fa-sign-in fa-2x" ></i>  
                </button>
                <!--
                <button id="btn-toggle-left" class="nav-mobile push-float-right" >
                    <i class="fa fa-search fa-2x" ></i>  
                </button>
                -->
                <form class="form-login form-background-1" >
                 <div class="form-background" > 
                     <div class="group" >
                         <input type="text" required >
                         <span class="hightlight" ></span>
                         <span class="bar" ></span>
                         <label>Name</label>
                     </div>
                     <div class="group" >
                         <input type="text" required>
                         <span class="hightlight" ></span>
                         <span class="bar" ></span>
                         <label>Email</label>
                     </div>
                     <div class="group cf" >
                      <button class="btn-default push-float-left" >
                          <span>Cancelar</span>
                      </button>   
                        
                     <button class="btn-primary push-float-right" >
                         <span>Aceptar</span>
                     </button>
                     <!--
                     <button class="btn-warning push-float-right" >
                         <span>Error</span>
                     </button>  
                     <button class="btn-info push-float-right" >
                         <span>Ok</span>
                     </button>
                     -->
                     </div>
                   
                     </div>
                </form>
                <form class="form-search push-float-right" >
                    <button id="btn-form-search" class="nav-mobile btn-search ripple" >
                    <span class="fa fa-search fa-2x" ></span>
                    </button>
                    <input id="input-search" placeholder="Search..." class="input-search" type="text" />
                    <button id="btn-form-close" class="nav-mobile btn-search btn-search-close" >
                    <span class="fa fa-times fa-2x" ></span>
                    </button>
                </form>
        </nav>
    </div>  
    <div class="main" >
       <main>
          <aside class="box menu-area cf" data-behavior="menuvertical01" >
              
              
          </aside>
          <div class="box content" >
                
          </div>
       </main>
    </div>
    <div class="footer" >
        <footer>
            
        </footer>
    </div>
</div>