

@import "../../../shared/scss/variables";

@import "../../../shared/scss/reset";

button::-moz-focus-inner {
  border: 0;
}
button:focus{
     outline: 0;
}
button:active{
    outline:0;
}

html{
    overflow: hidden;
    overflow-y: auto;
}
html,body{
    height:100%;
    border:0;
   
}
.container{
    display:block;
    position:relative;
    width:100%;
    max-width:$maxpagew;
    min-height:100vh;
    margin:0 auto;
    border:0;
}
.wrapper{
    display:block;
    position:relative;
    width:100%;
    max-width:$maxpagew;
    min-height:100vh;
    margin:0 auto;
    border:0;
    margin-left:0px;
    transition: all 0.3s ease;
    z-index:20;
}

aside.menu-area{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:#{$asidew};
    min-height:100%;
    @include background-menu-area-01;
    @include shadow02;



    transition: all 0.3s ease-in-out;
}
header{
    display:none;
    position:relative;
    background: $c500;
    width:100%;
   
    height: $headh;
}
nav.actions{
    display:block;
    position:relative;
    width:100%;
    height:$nav;
    padding:0 10px;
    /*
    background:#673AB7;
    -webkit-box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.75);
     box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.75);
    */
    @include background01;
    @include shadowbottom02;
    z-index:999;
}
main{
    display:block;
    position:relative;
    width:100%;
    min-height:calc(100vh - #{$nav} - #{$footer});
    background:$c50;
    border:0;
}

.content{
    display:block;
    position:relative;
    width:100%;
    
    min-height:calc(100vh - #{$nav} - #{$footer});
    border:1;
    padding:7px;
}
footer{
    display:block;
    position:relative;
    width:100%;
    height:#{$footer};
    background:$c50;
    @include background01-inv;
    @include shadowtop01;
}
.push-float-left{
    float:left;
}
.push-float-right{
    float:right;
}

@media (min-width:768px){
   header{
      display:block;
      height: 15vh;
      top:0;
      left:0;
   }
   main,.content{
     min-height:calc(100vh - 15vh - #{$nav} - #{$footer});
     
   }
  main,footer,header,nav.actions{
       width:calc(100% - #{$asidew});
   }

   div.wrapper{
    padding-left:7px;
    margin-left:#{$asidew};
   }
   #btn-toggle-left{
       display:none;
   }
   #btn-toggle-right{
       display:none;
   }
   .logo{
       
       width:15%;
       height: 100%;
       float:left;  
   }
   .title-application{
       color:#311b92;
       float:left;
       top:-50%;
       transform:translateY(50%);
   }
   
}