
<header></header>
<div id="root" class="wrapper" >
  
    
   
    <div class="main-body section-open" >
        <aside id="menuvertical01" class="menu-area " data-behavior="menuvertical01" >
            <ul class="menu-vertical-04">
                <li class="parent element"><a class="element-link gr menu text" href="#" >Link 1<span class="fa-fix-chevron-right push-float-right" ></span></a>
                    <ul class="sub-menu" >
                        <li class="animation-delay-01" ><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                        <li class="animation-delay-02" ><a class="element-link el" href="#/controller/action1" >SubLink 1</a></li>
                        <li class="animation-delay-03" ><a class="element-link el" href="#/controller/action2" >SubLink 2</a></li>
                        <li class="animation-delay-04" ><a class="element-link el" href="#/controller/action3" >SubLink 3</a></li>
                        <li class="animation-delay-05"><a class="element-link el" href="#/controller/action4" >SubLink 4</a></li>
                        <li class="animation-delay-06"><a class="element-link el" href="#/controller/action5" >SubLink 5</a></li>     
                    </ul>  
                    
                </li>
                <li class="parent element" ><a class="element-link gr menu text" href="#">Link 2<span class="fa-fix-chevron-right push-float-right" ></span></a>
                    <ul class="sub-menu" >
                       <li class="animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                       <li class="animation-delay-02"><a class="element-link el" href="#/controller2/action1" >SubLink 11</a></li>
                       <li class="animation-delay-03"><a class="element-link el" href="#/controller2/action2" >SubLink 22</a></li>
                       <li class="animation-delay-04"><a class="element-link el" href="#/controller2/action3" >SubLink 33</a></li>
                       <li class="animation-delay-05"><a class="element-link el" href="#/controller2/action4" >SubLink 44</a></li>
                       <li class="animation-delay-06"><a class="element-link el" href="#/controller2/action5" >SubLink 55</a></li>
                    </ul>
                    
                </li>
                <li class="element" ><a class="element-link gr menu text" href="#/controller/action3">Link 3
                    <!--
                    <span class="fa-fix-chevron-right push-float-right" ></span>
                    -->
                </a>
                </li>
                <li class="parent element expand" ><a class="element-link gr menu text" href="#">Link 4<span class="fa-fix-chevron-right push-float-right" ></span></a>
                    <ul class="sub-menu" >
                       <li class="animation-delay-01"><a class="back-element" href="#" ><span class="fa-fix-back push-float-left" ></span>Back</a></li>
                       <li class="animation-delay-02"><a class="element-link el" href="#" >SubLinkd 1</a></li>
                       <li class="animation-delay-03"><a class="element-link el" href="#" >SubLinkd 2</a></li>
                       <li class="animation-delay-04"><a class="element-link el" href="#" >SubLinkd 3</a></li>
                       <li class="animation-delay-05"><a class="element-link el" href="#" >SubLinkd 4</a></li>
                       <li class="animation-delay-06"><a class="element-link el" href="#" >SubLinkd 5</a></li>
                    </ul> 
                    
                </li>
            </ul>
        </aside>
        <div class="main-area" >
            
            <div class="page" >
                <div class="nav" >
                    <nav data-behavior="navbuttonsactionsroot01" >
                            <button id="btn-toggle-left" class="nav-mobile ripple push-float-left" >
                                <i class="fa fa-bars fa-2x" ></i>  
                            </button>
                            
                            <button id="btn-toggle-right" class="nav-mobile ripple push-float-right" >
                                <i class="fa fa-list fa-2x" ></i>
                            </button>
                            <button id="btn-toggle-sign-in" class="nav-mobile ripple push-float-right" >
                                <i class="fa fa-sign-in fa-2x" ></i>  
                            </button>
                           
                    </nav>
                </div>
                <div class="main" >
                <main>
                    
                    <div class="content" >
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia aliquam dolorem ab, voluptas placeat eligendi qui, numquam autem aut sapiente exercitationem dolorum minima. Tempora, facilis cum, error iste odio ad?    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, asperiores nemo error quidem similique, molestias delectus incidunt qui obcaecati ea, quis in eos accusantium reprehenderit cupiditate magnam odio neque dolor.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad, porro praesentium perferendis nisi sed aspernatur. Quisquam possimus repellendus, aperiam atque, corporis, ducimus deleniti in quaerat velit vero consequatur? Sunt!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique harum, et reprehenderit nihil aliquid doloremque distinctio iste ipsum numquam nam est aspernatur dolorem culpa, molestias, ipsa in autem assumenda sint!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum ea velit reiciendis quam excepturi dolores repellendus quo veniam totam laboriosam tempora nisi, iure mollitia, iste minima fugiat quia eius.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur veritatis, excepturi dignissimos voluptatibus quisquam tempora ratione vero eaque iste enim ullam maiores omnis, odio minima maxime esse! At, qui.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime veritatis, minus eos optio illum laborum, ducimus voluptates, vero consequuntur numquam provident quos iure eum alias fuga, itaque totam officia sint!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde eos suscipit repellat rerum quisquam voluptas. Eum commodi dolorem, ab nostrum consectetur? Facere numquam dolore ullam eligendi iure eius magni vitae!
           
                    
                    </div>
                
                </main>
                </div>
                <div class="footer" >
                    <footer>
                        
                    </footer>
                </div>
            </div>
            
        </div>
    </div> 
</div>