.lyt03layout01{

        .page.root{
            /*top:0;*/
            visibility: visible;
            /*opacity: 1;*/
            /*transition:all 0.2s ease-in-out;*/
        }
        .child,.child-2{
            display:table;
            /*top:0;*/
            /*left:100%;*/
            transform:translateX(100%);
            width:100%;
            height:100%;
            overflow: hidden;
            overflow-y: auto;
            opacity:0;
        
            transition:all 0.3s ease-in-out;
        z-index:50;
        }


        .child.animacion{
            opacity:1;
            transform:translateX(0%);
        }
        .child.animacion.right,.child-2.animacion.right{
        /*z-index:999;*/
            /*width:100%;*/
            opacity:1;
            /*left:0%; */
            /* aqui es donde deberia ir el translate */
            transform:translateX(0%);

        }

        @media (min-width:768px){
        
        
        }
}