<ul id="menupopup01" class="menu-popup01" >
    <li class="element item itm"><a class="element-link el ripple" href="#/template1">Link 1</a></li>
    <li class="element item itm"><a class="element-link el ripple" href="#/template2">Link 2</a></li> 
    <li class="element item itm"><a class="element-link el ripple" href="#/template3">Link 3</a></li> 
    <li class="element item itm"><a class="element-link el ripple" href="#/template4">Link 4</a></li> 
    <li class="element item itm"><a class="element-link el ripple" href="#/template5">Link 5</a></li>  
    <li class="element item itm"><a class="element-link el ripple" href="#/template6">Link 6</a></li> 
    <li class="element item itm"><a class="element-link el ripple" href="#/template7">Link 7</a></li> 
    <li class="element item itm"><a class="element-link el ripple" href="#/template8">Link 8</a></li> 
    <li class="element item itm"><a class="element-link el ripple" href="#/template9">Link 9</a></li> 
    <li class="element item itm"><a class="element-link el ripple" href="#/template10">Link 10</a></li> 
</ul>