 <div id="slidePerspective01" class="slide-container-perspective" >
        <button class="slide-button left" ><i class="fa fa-chevron-left fa-2x"></i></button>     
          <div class="slide-wrapper" >
            <div class="slide-items " >
                <div class="el border" >
                        <div class="list-grp-buttons" > 
                        
                        <a class="list-grp-button box-shadow-3" href="#"  >
                            <div class="list-grp-content-top" >
                                <span class="fa fa-facebook-square fa-3x list-grp-content-icon" ></span>
                            </div>
                            <div class="list-grp-content-bottom" >
                                <span class="list-grp-content-text" >Action1</span>    
                            </div>    
                        </a>
                        <a class="list-grp-button box-shadow-3" href="#"  >
                            <div class="list-grp-content-top" >
                                <span class="fa fa-skype fa-3x list-grp-content-icon" ></span>
                            </div>
                            <div class="list-grp-content-bottom" >
                                <span class="list-grp-content-text" >Action2</span>    
                            </div>       
                        </a>
                        <a class="list-grp-button box-shadow-3" href="#"  >
                            <div class="list-grp-content-top" >
                                <span class="fa fa-linkedin fa-3x list-grp-content-icon" ></span>
                            </div>
                            <div class="list-grp-content-bottom" >
                                <span class="list-grp-content-text" >Action3</span>    
                            </div>        
                        </a>
                        <a class="list-grp-button box-shadow-3" href="#"  >
                            <div class="list-grp-content-top" >
                                <span class="fa fa-git fa-3x list-grp-content-icon" ></span>
                            </div>
                            <div class="list-grp-content-bottom" >
                                <span class="list-grp-content-text" >Action4</span>    
                            </div>        
                        </a>
                        <a class="list-grp-button box-shadow-3" href="#"  >
                            <div class="list-grp-content-top" >
                                <span class="fa fa-google-wallet fa-3x list-grp-content-icon" ></span>
                            </div>
                            <div class="list-grp-content-bottom" >
                                <span class="list-grp-content-text" >Action5</span>    
                            </div>          
                        </a>
           
                        
                        </div>  
                </div>
                <div class="el border" >
                      <div class="list-grp-buttons cf" > 
                        
                        <a class="list-grp-button box-shadow-3" href="#"  >
                            <div class="list-grp-content-top" >
                                <span class="fa fa-facebook-square fa-3x list-grp-content-icon" ></span>
                            </div>
                            <div class="list-grp-content-bottom" >
                                <span class="list-grp-content-text" >Action1</span>    
                            </div>    
                        </a>
                        <a class="list-grp-button box-shadow-3" href="#"  >
                            <div class="list-grp-content-top" >
                                <span class="fa fa-skype fa-3x list-grp-content-icon" ></span>
                            </div>
                            <div class="list-grp-content-bottom" >
                                <span class="list-grp-content-text" >Action2</span>    
                            </div>       
                        </a>
                        <a class="list-grp-button box-shadow-3" href="#"  >
                            <div class="list-grp-content-top" >
                                <span class="fa fa-linkedin fa-3x list-grp-content-icon" ></span>
                            </div>
                            <div class="list-grp-content-bottom" >
                                <span class="list-grp-content-text" >Action3</span>    
                            </div>        
                        </a>
                        <a class="list-grp-button box-shadow-3" href="#"  >
                            <div class="list-grp-content-top" >
                                <span class="fa fa-git fa-3x list-grp-content-icon" ></span>
                            </div>
                            <div class="list-grp-content-bottom" >
                                <span class="list-grp-content-text" >Action4</span>    
                            </div>        
                        </a>
                        <a class="list-grp-button box-shadow-3" href="#"  >
                            <div class="list-grp-content-top" >
                                <span class="fa fa-google-wallet fa-3x list-grp-content-icon" ></span>
                            </div>
                            <div class="list-grp-content-bottom" >
                                <span class="list-grp-content-text" >Action5</span>    
                            </div>          
                        </a>
                      </div>
                </div>
                <div class="el border" >
                    3
                </div>
                <div class="el border" >
                    4
                </div>
            </div>
          </div> 
        <button class="slide-button right" ><i class="fa fa-chevron-right fa-2x"></i></button>
    </div>