 <div class="slide-container  " >
       
       <button class="slide-button left" >
           <i class="fa fa-chevron-left fa-2x"></i></button>
       
       <div class="slide-items " > 
         <ul class="cf" >
            <li class="">
                  <div class="list-grp-buttons cf" > 
                 
                  <a class="list-grp-button box-shadow-3" href="#"  >
                      <div class="list-grp-content-top" >
                          <span class="fa fa-facebook-square fa-3x list-grp-content-icon" ></span>
                      </div>
                      <div class="list-grp-content-bottom" >
                         <span class="list-grp-content-text" >Action1</span>    
                      </div>    
                  </a>
                  <a class="list-grp-button box-shadow-3" href="#"  >
                      <div class="list-grp-content-top" >
                          <span class="fa fa-skype fa-3x list-grp-content-icon" ></span>
                      </div>
                      <div class="list-grp-content-bottom" >
                         <span class="list-grp-content-text" >Action2</span>    
                      </div>       
                  </a>
                  <a class="list-grp-button box-shadow-3" href="#"  >
                       <div class="list-grp-content-top" >
                          <span class="fa fa-linkedin fa-3x list-grp-content-icon" ></span>
                      </div>
                      <div class="list-grp-content-bottom" >
                         <span class="list-grp-content-text" >Action3</span>    
                      </div>        
                  </a>
                  <a class="list-grp-button box-shadow-3" href="#"  >
                      <div class="list-grp-content-top" >
                          <span class="fa fa-git fa-3x list-grp-content-icon" ></span>
                      </div>
                      <div class="list-grp-content-bottom" >
                         <span class="list-grp-content-text" >Action4</span>    
                      </div>        
                  </a>
                   <a class="list-grp-button box-shadow-3" href="#"  >
                      <div class="list-grp-content-top" >
                          <span class="fa fa-google-wallet fa-3x list-grp-content-icon" ></span>
                      </div>
                      <div class="list-grp-content-bottom" >
                         <span class="list-grp-content-text" >Action5</span>    
                      </div>          
                  </a>
         
                
                 </div>  

            </li>
            <li class="">
                <div class="sk-fading-circle">
                   
                   <div class="sk-circle1 sk-circle"></div>
                   <div class="sk-circle2 sk-circle"></div>
                   <div class="sk-circle3 sk-circle"></div>
                   <div class="sk-circle4 sk-circle"></div>
                   <div class="sk-circle5 sk-circle"></div>
                   <div class="sk-circle6 sk-circle"></div>
                   <div class="sk-circle7 sk-circle"></div>
                   <div class="sk-circle8 sk-circle"></div>
                   <div class="sk-circle9 sk-circle"></div>
                   <div class="sk-circle10 sk-circle"></div>
                   <div class="sk-circle11 sk-circle"></div>
                   
                   <div class="sk-circle12 sk-circle"></div>
                </div>
            </li>
            <li class="">3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
         </ul>
       </div>
           
       <button class="slide-button right" ><i class="fa fa-chevron-right fa-2x"></i></button>
       
       <div class="slide-controls" >
           
           <!-- se rellenara dinamicamente con circulos en esta area
           <a href="#" ></a>
           <a href="#" ></a>
           <a href="#" ></a>
           <a href="#" ></a>
           -->

       </div>
 </div>