<div id="slidecontainer01" class="slide-container " >
       
       <button class="slide-button left" ><i class="fa fa-chevron-left fa-2x"></i></button>
       
       <div class="slide-items" > 
         
         <!--
         <ul class="" >
              
         </ul>
         -->
       </div>
           
       <button class="slide-button right" ><i class="fa fa-chevron-right fa-2x"></i></button>
       
       
           
           <!-- se rellenara dinamicamente con circulos en esta area
            <div class="slide-controls" >
           <a href="#" ></a>
           <a href="#" ></a>
           <a href="#" ></a>
           <a href="#" ></a>
           </div>
           -->
       
 </div>