
      <form id="sign-up" class="form-fix-login-01 " >
                <div class="frm-background" >
                  <h1 class="title" >Sign-Up!</h1>    
                  <div class="group" >  
                    <div class="label"><span class="fa fa-user fa-2x"></span></div>
                    <input type="text" placeholder="User" class="input" >
                  </div>
                  <div class="group" >
                    <div class="label" ><span class="fa fa-at fa-2x"></div>
                    <input type="text" placeholder="E-Mail" class="input" >  
                  </div>
                  <div class="group" >
                    <div class="label" ><span class="fa fa-unlock-alt fa-2x"></span></div>
                    <input type="text" placeholder="Password" class="input" >  
                  </div>
                  <div class="group" >
                    <div class="label" ><span class="fa fa-lock fa-2x"></span></div>
                    <input type="text" placeholder="Confirm Password" class="input" >
                  </div>
                  <button class="btn-login ripple" ><span>Sign-up!</span></button>  
                </div> 
              </form> 
