

@mixin background-form-login-01{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#673ab7+0,9575cd+100 */
   background: $c500; /* Old browsers */
   background: -moz-linear-gradient(top, $c500 0%, $c300 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, $c500 0%, $c300 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  $c500 0%, $c300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c500}', endColorstr='#{$c300}',GradientType=0 ); /* IE6-9 */
   
}

@mixin background-btn-login-01{
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#512da8+0,311b92+100 */
background: $c500; /* Old browsers */
background: -moz-linear-gradient(top,  $c700 0%, $c900 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  $c700 0%,$c900 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  $c700 0%,$c900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c700}', endColorstr='#{$c900}',GradientType=0 ); /* IE6-9 */

}