             <form class="form-login form-background-1" id="frmlogin01" >
                 <div class="form-background" > 
                     <div class="group" >
                         <input type="text" required >
                         <span class="hightlight" ></span>
                         <span class="bar" ></span>
                         <label>Name</label>
                     </div>
                     <div class="group" >
                         <input type="text" required>
                         <span class="hightlight" ></span>
                         <span class="bar" ></span>
                         <label>Email</label>
                     </div>
                     <div class="group cf" >
                      <button class="btn-default push-float-left" >
                          <span>Cancelar</span>
                      </button>   
                        
                     <button class="btn-primary push-float-right" >
                         <span>Aceptar</span>
                     </button>
                     <!--
                     <button class="btn-warning push-float-right" >
                         <span>Error</span>
                     </button>  
                     <button class="btn-info push-float-right" >
                         <span>Ok</span>
                     </button>
                     -->
                     </div>
                   
                     </div>
                </form>