  <form id="frmlogin01" class="form-login-01" >
                      <h1 class="title" >Please Login</h1>  
                      <div class="frm-Background" >
                        <div class="group" >
                         <div class="label" ><span class="fa fa-user fa-2x"></span></div>
                         <input type="text" placeholder="User" class="input" >
                        </div>
                        <div class="group" >
                          <div class="label" ><span class="fa fa-unlock-alt fa-2x"></span></div>
                          <input type="text" placeholder="Password" class="input" >
                        </div>
                        <div class="group" >
                           <input type="checkbox" class="remember" ><label class="title-remember" >Remember me</label>
                        </div>
                         <button class="btn-login ripple" ><span>Login</span></button>
                      </div>
                    </form>